user-register {

}

user-register .login {
    font-family: "Microsoft YaHei";
    background-color: #F0F0F0;
}

user-register .login .scroll-content {
    overflow-y: auto;
}

user-register .login ion-item {
    background-color: #fff;
    height: 56px;
}

user-register .login input {
    padding-left: 2px;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
}

user-register .listTip {
    color: #959595;
}

user-register .listItem {
    margin-bottom: 20px;
}

user-register .listItem input {
    height: 35px;
    width: 65%;
}

user-register .listItem button {
    font-size: 15px;
    letter-spacing: 1px;
}

user-register .button-inner {
    font-size: 15px;
    letter-spacing: 1px;
}

user-register .verify {
    height: 35px;
    width: 100%;
    color: #959595;
}

user-register .verifyLimit {
    color: #CBCCCC
}

user-register .bigBtn {
    color: white;
    background-color: #2A84C3;
    margin: 15px auto;
    width: 94%;
}

user-register label.protocol {
    left: 9px;
}

user-register .protocol1 {
    margin-left: 36px;
    line-height: 0;
    position: relative;
    top: -27px;

}

user-register div.checkBox_msg {
    margin-top: -5px;
    margin-bottom: 50px;
}

user-register div.checkBox_msg input {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: -1px;
}

user-register .login ion-list {
    margin-top: 21px;
}

user-register .row-col1 {
    margin-left: 17px;
    font-size: 16px;
    line-height: 1.5;
}

user-register .row-col2 {
    margin-left: -30px;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 2px;
}

user-register .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #000000;
    font-size: 16px;
}

user-register .list-md > .item-block:first-child, .list-md > .item-wrapper:first-child .item-block {
    border-bottom: 0px solid #E6E6E6;
}

user-register .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
    border-bottom: 1px solid #E6E6E6;
}

user-register .checkbox-md .checkbox-icon {
    position: relative;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #c8c7cc;
    background-color: #fff;
    transition-duration: 280ms;
    transition-property: background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 10px;
}

user-register .checkbox-md .checkbox-checked .checkbox-inner {
    position: absolute;
    top: 0px;
    left: 6px;
    width: 7px;
    height: 13px;
    border-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

user-register .checkbox-md .checkbox-checked {
    border-color: #2A84C3;
    background-color: #2A84C3;
    margin-left: 12px;
}

user-register .button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: #2A84C3;
    color: #2A84C3;
    background-color: transparent;
    box-shadow: none;
}

user-register .button-small-md {
    padding: 0 0.9em;
    height: 2.1em;
    font-size: 1.5rem;
}

user-register .item-md {
    padding-right: 6px;
    padding-left: 8px;
}

user-register .label-md {
    margin: 13px 8px 13px 9px;
}

user-register .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #dedede;
    box-shadow: none;
}

user-register .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: #dedede;
    box-shadow: none;
}

user-register .item-md [item-left], .item-md [item-right] {
    margin: 9px -3px 9px 0;
}

user-register .header-md:after {
    border-top: 1px solid #DDDDDD;
}

user-register .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    box-shadow: none;
}

user-register .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #dedede;
    box-shadow: none;
}

user-register .login ion-row {
    margin-top: 10px;
}

user-register .text-input-md {
    margin: 13px 8px 13px -4px;
    font-size: 16px;
}
