<ion-header no-border>
    <ion-navbar>
        <ion-title>注册</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="login">
    <tool-steps [stepNow]="1" [stepCon]="['手机验证','设置密码','完成']"></tool-steps>
    <form #registerForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label>手机号：</ion-label>
                <ion-input type="tel" placeholder="" name="phone" [pattern]="'^[1][34578][0-9]{9}$'"
                           [(ngModel)]="phone"></ion-input>
                <button ion-button small (click)="sendPhone()" [disabled]="disabled" item-right outline color="default">
                    发送验证码
                </button>
            </ion-item>
            <ion-item>
                <ion-label>验证码：</ion-label>
                <ion-input type="text" placeholder="" [pattern]="'^[A-Za-z0-9]{6}$'" name="userPhoneCode"
                           [(ngModel)]="userPhoneCode"></ion-input>
            </ion-item>
        </ion-list>
        <div class="checkBox_msg">
            <ion-checkbox color="dark" [checked]="checked" (click)="changeChecked()"></ion-checkbox>
            <p class="protocol1">我已阅读并同意《用户协议》</p>
        </div>
        <div text-center *ngIf="timerStatus" style="margin-top: -28px;">
            <p class="verifyLimit">{{nums}}秒后重新获取</p>
        </div>
        <!--<button class="btn" ion-button block (click)="toSetPwd()" [disabled]="!this.phone || !this.userPhoneCode || !disabled" class="bigBtn">下一步-->
        <!--</button>-->
        <button class="fullBtn" (click)="toSetPwd()" [disabled]="!this.phone || !this.userPhoneCode || !disabled">下一步
        </button>
    </form>
    <ion-row>
        <ion-col width-20 class="row-col1">提示：</ion-col>
        <ion-col text-wrap class="row-col2">注册时建议使用本人号码，注册成功后,手机号为登录账号</ion-col>
    </ion-row>
    <!--<button ion-button (click)="goNext()">下一页</button>-->
</ion-content>





