@font-face {
    font-family: "iconfont";
    src: url('../iconfont.eot?t=1482491817254'); /* IE9*/
    src: url('../iconfont.eot?t=1482491817254#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont.woff?t=1482491817254') format('woff'), /* chrome, firefox */ url('../iconfont.ttf?t=1482491817254') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont.svg?t=1482491817254#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
    content: "\e600";
}

.icon-icon043:before {
    content: "\e635";
}

.icon-ananzuiconv267:before {
    content: "\e606";
}

.icon-fakuan2:before {
    content: "\e634";
}

.icon-zanfuwutubiao10:before {
    content: "\e672";
}

.icon-zhifubao:before {
    content: "\e616";
}

.icon-z-alipay:before {
    content: "\e6cc";
}

.icon-liwu:before {
    content: "\e617";
}

.icon-weibiaoti2fuzhi20:before {
    content: "\e631";
}

.icon-wodelicai:before {
    content: "\e66d";
}

.icon-jijin:before {
    content: "\e61a";
}

.icon-suo:before {
    content: "\e6ca";
}

.icon-adv-02-copy:before {
    content: "\e60a";
}

.icon-guangfayinhang:before {
    content: "\e601";
}

.icon-ren:before {
    content: "\e614";
}

