<ion-header no-border>
    <ion-navbar>
        <ion-title>||类账户充值</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <tool-steps [stepNow]="3" [stepCon]="['充值','充值详情','完成']"></tool-steps>
    <!--<div text-center class="success">-->
    <!--<h4>-->
    <!--恭喜你，充值成功-->
    <!--</h4>-->
    <!--<div>3秒后，自动返回</div>-->
    <!--</div>-->
    <div class="wrap">
        <div class="img" text-center>
            <ion-icon name="ios-checkmark" class="done-icon"></ion-icon>
        </div>
        <div class="word1">恭喜您，充值成功</div>
        <div class="word2">3s后自动返回</div>
    </div>
</ion-content>
