etc-card-detail {
    ion-content {
        background-color: #f0f0f0;

        ion-item {
            border: none !important;
        }

        .topDivide {
            height: 20px;
            background-color: #EFEFEF;
        }

        .item {
            border-bottom: 1px solid #e5e5e5;
            padding: 0 16px;
            background-color: #ffffff !important;
        }

        .span01 {
            color: #808080;
        }

        .span02 {
            color: #000000;
        }
    }
}



