user-modify-pay-pwd-step1 {

}

user-modify-pay-pwd-step1 .content .scroll-content {
    overflow-y: auto;
}

user-modify-pay-pwd-step1 .titlePwd {
    margin-top: 1.4em;
    margin-bottom: -1.5em;
    margin-left: 5%;
    color: #A2A2A2;
}

