user-bind-mobile {

}

user-bind-mobile .bindMobileContent {
    background-color: #f0f0f0;
}

user-bind-mobile .bindMobileContent .scroll-content {
    overflow-y: auto;
}

user-bind-mobile .bindMobileTip {
    margin-top: 1.4em;
    margin-bottom: -1.5em;
    margin-left: 5%;
    color: #A2A2A2;
}
