user-complete-profile {

}

user-complete-profile .content .scroll-content {
    overflow-y: auto;
}

user-complete-profile .bindEmailTip {
    margin-top: 1.4em;
    margin-bottom: -1.5em;
    margin-left: 5%;
    color: #A2A2A2;
}
