tool-steps {
    div, ul, li {
        margin: 0px;
        padding: 0px;
    }
    .stepWrap {
        height: 65px;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 10px 40px;
        background-color: #fff;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        margin-top: 8px;
    }
    .step {
        flex: 1;
        position: relative;
    }
    .stepNumWrap {
        position: absolute;
        margin-left: -13px;
        width: 26px;
        height: 26px;
        border-radius: 16px;
        background-color: #e0e0e0;
    }
    .lastStep {
        margin-left: 0px;
        right: -13px;
    }
    .stepWord {
        width: 100%;
        text-align: center;
        position: absolute;
        margin-left: -50%;
        top: 31px;
        color: #b9b9b9;
    }
    .stepWordLast {
        margin-left: 0px;
        right: -50%;
    }
    .stepNum {
        width: 20px;
        height: 20px;
        border-radius: 13px;
        margin: 3px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        background-color: #b9b9b9;
        box-shadow: #8a8a8a 1px 1px 1px 0 inset;
    }
    .stepLine {
        position: absolute;
        width: 100%;
        height: 4px;
        top: 11px;
        background-color: #e0e0e0;
    }
    .stepLine.bg1 {
        background-color: #85e085;
        //background: -webkit-linear-gradient(left, #85e085, #33cc33);
    }
    .stepLine.bg2 {
        background-color: #33cc33;
    }
    .stepWord.bg1 {
        color: #85e085;
    }
    .stepWord.bg2 {
        color: #33cc33;
    }
    .stepNum.bg1 {
        background-color: #85e085;
    }
    .stepNum.bg2 {
        background-color: #33cc33;
    }
}
