user-bind-email {

}

user-bind-email .bindEmailContent {
    background-color: #f0f0f0;
}

user-bind-email .bindEmailContent .scroll-content {
    overflow-y: auto;
}

user-bind-email .bindEmailTip {
    margin-top: 1.4em;
    margin-bottom: -1.5em;
    margin-left: 5%;
    color: #A2A2A2;
}
