user-modify-pay-pwd-step2 {

}

user-modify-pay-pwd-step2 .resetPwd .scroll-content {
    overflow-y: auto;
}

user-modify-pay-pwd-step2 .listItem {
    background-color: #ffffff;
    height: 56px;
    font-size: 16px;
}

user-modify-pay-pwd-step2 .listItem .itemLbl {
    color: #000000;
}
