feedback {
    ion-content {
        background-color: red;

        textarea {
            height: 220px;
            margin: 10px 0 25px 0 !important;
            background-color: #FFFFFF !important;
            border-bottom: 1px solid #c5c5c5 !important;
            border-top: 1px solid #c5c5c5 !important;
            padding: 10px 0 10px 10px !important;
            width: 100% !important;
        }

        .add {
            height: 80px;
            background-color: #fff;
            border-top: 1px solid #c5c5c5;
            border-bottom: 1px solid #c5c5c5;

            .addPic {
                width: 60px;
                height: 60px;
                border: 2px dotted #E6E6E6;
                margin-top: 10px;
                margin-left: 20px;
                font-size: 60px;
                font-weight: bold;
                color: #E6E6E6;
                float: left;
                line-height: 60px;
                text-align: center;
            }

            .addImgDiv {
                position: relative;
                width: 61px;
                float: left;
                margin-left: 15px;
                margin-top: 10px;

                .addImg {
                    width: 60px;
                    height: 60px;
                }
            }

            ion-icon {
                font-size: 1em;
            }

            .action-sheets-basic-page {
                .ion-md-share {
                    color: #ED4248;
                }
                .action-sheet-cancel .button-inner {
                    color: #FF6A6A;
                }
                .button-inner {
                    color: #007aff;
                }
            }

            .imgClose {
                display: block;
                position: absolute;
                top: -8px;
                right: -8px;
                width: 18px;
                height: 18px;
                border-radius: 9px;
                background-color: #FF0000;
                font-size: 15px;
                color: #ffffff;
                line-height: 15px;
                text-align: center;
            }
        }

        .padding {
            height: 20px;
        }

        .commitBut {
            border-radius: 5px;
            height: 40px;
            width: 95%;
            margin: 0 auto;
            background-color: #2A84C3;
        }
    }
}
