<ion-header no-border>
    <ion-navbar>
        <ion-title>广发银行Ⅱ类账户</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <tool-steps [stepNow]="1" [stepCon]="['实名信息','增加支付账户','完成']"></tool-steps>
    <ion-list no-lines style="margin-top: 1em">
        <ion-item style="background-color: white">
            <ion-label>
                <ion-icon name="md-person">
                </ion-icon>
            </ion-label>
            <ion-input type="text" [(ngModel)]="name" placeholder="请输入姓名"></ion-input>
        </ion-item>
        <ion-item style="background-color: white;margin-top: 1px">
            <ion-label>
                <ion-icon name="ios-card">
                </ion-icon>
            </ion-label>
            <ion-input type="text" [(ngModel)]="idCard" placeholder="请输入身份证号码"></ion-input>
        </ion-item>
    </ion-list>
    <button class="fullBtn" (click)="toNext()">下一步</button>
</ion-content>
