<ion-header no-border>
    <ion-navbar>
        <ion-title>
            设置密码
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="setPwd">
    <tool-steps [stepNow]="2" [stepCon]="['手机验证','设置密码','完成']"></tool-steps>
    <ion-list>
        <ion-item>
            <ion-label>密码：</ion-label>
            <ion-input type="password" placeholder="请输入密码" [(ngModel)]="userPwd"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>确认密码：</ion-label>
            <ion-input type="password" placeholder="请再次输入密码" [(ngModel)]="userRePwd"></ion-input>
        </ion-item>
    </ion-list>
    <div style="padding-top: 30px;">
        <button class="fullBtn" [disabled]="!this.userPwd || !this.userRePwd" (click)="register()">确定</button>
    </div>
    <!--<button ion-button block [disabled]="!this.userPwd || !this.userRePwd" class="bigBtn" (click)="register()">确定</button>-->
</ion-content>

