<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            通行记录
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="wrap">
        <div class="title">本月</div>
        <div class="conTitle">
            <div class="firstDiv">时间</div>
            <div class="secondDiv">地点</div>
            <div class="thirdDiv">状态</div>
        </div>
        <div class="conCon">
            <div class="conConSon">
                <div class="firstDiv">
                    <ul>
                        <li class="hLi">12月6日08:15:55</li>
                        <li class="hLi">12月6日18:20:30</li>
                    </ul>
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv">
                    <ul>
                        <li class="hLi color">出</li>
                        <li class="hLi color">入</li>
                    </ul>
                </div>
            </div>
            <div class="conConSon">
                <div class="firstDiv">
                    <ul>
                        <li class="hLi">12月6日08:15:55</li>
                        <li class="hLi">12月6日18:20:30</li>
                    </ul>
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv">
                    <ul>
                        <li class="hLi color">出</li>
                        <li class="hLi color">入</li>
                    </ul>
                </div>
            </div>
            <div class="conConSon">
                <div class="firstDiv">
                    <ul>
                        <li class="hLi">12月6日08:15:55</li>
                        <li class="hLi">12月6日18:20:30</li>
                    </ul>
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv">
                    <ul>
                        <li class="hLi color">出</li>
                        <li class="hLi color">入</li>
                    </ul>
                </div>
            </div>
            <div class="conConSon">
                <div class="firstDiv">
                    <ul>
                        <li class="hLi">12月6日08:15:55</li>
                        <li class="hLi">12月6日18:20:30</li>
                    </ul>
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv">
                    <ul>
                        <li class="hLi color">出</li>
                        <li class="hLi color">入</li>
                    </ul>
                </div>
            </div>
            <div class="conConSon">
                <div class="firstDiv hDiv">
                    12月8日08:15:55
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv hDiv color">
                    出
                </div>
            </div>
            <div class="conConSon">
                <div class="firstDiv hDiv">
                    12月8日18:15:55
                </div>
                <div class="secondDiv hDiv">宿舍楼</div>
                <div class="thirdDiv hDiv color">
                    入
                </div>
            </div>
        </div>
    </div>
</ion-content>
