<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            课程表
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="wrap">
        <img src="assets/compus/33.jpg" alt="">
    </div>
    <!--<div class="wrap">-->
    <!--<div class="header">-->
    <!--<div></div>-->
    <!--<div></div>-->
    <!--</div>-->
    <!--<div class="content">-->
    <!--<div class="rowDiv">-->
    <!--<div>课程</div>-->
    <!--<div>星期一</div>-->
    <!--<div>星期二</div>-->
    <!--<div class="selectDiv">星期三</div>-->
    <!--<div>星期四</div>-->
    <!--<div>星期五</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第一节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第二节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第三节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div class="select">语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第四节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第五节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第六节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--<div class="rowDiv">-->
    <!--<div>第七节课</div>-->
    <!--<div>数学</div>-->
    <!--<div>英语</div>-->
    <!--<div>语文</div>-->
    <!--<div>劳动</div>-->
    <!--<div>体育</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="footer">-->
    <!--<div></div>-->
    <!--<div></div>-->
    <!--</div>-->
    <!--</div>-->
</ion-content>
