user-reset-pwd-step1-mobile {
}

user-reset-pwd-step1-mobile .verifyContent .scroll-content {
    overflow-y: auto;
}

user-reset-pwd-step1-mobile .verifyContent {
    background-color: #f0f0f0;
}

user-reset-pwd-step1-mobile .verifyContent .pwdTip {
    margin-top: 1.4em;
    margin-bottom: -1.5em;
    margin-left: 5%;
    color: #A2A2A2;
}
