CGB-2account-recharge-detail {
    .detWrap {
        width: 90%;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 50px;
        .head {
            width: 100%;
            height: 8px;
            background-color: #dc650d;
            border-radius: 5px;
        }
        .con {
            margin: auto;
            margin-top: -4px;
            width: 95%;
            background-color: #fff;
            border: 1px solid #aeaeae;
            box-shadow: 0px 10px 20px #797373;
            position: relative;
            .contentD {
                padding: 15px 15px 40px 15px;
                background-color: #fff;
                div {
                    color: #000;
                    padding-left: 20px;
                    font-size: 1.5rem;
                }
                .title {
                    border-bottom: 1px solid #dddddd;
                    /* font-weight: 600; */
                    padding-bottom: 5px;
                    font-size: 1.8rem;
                }
                .conItem {
                    padding-top: 15px;
                    color: #000;
                }
                .conItemC {
                    color: #dc650d;
                }
            }
            .footer {
                position: absolute;
                bottom: -30px;
                width: 100%;
                height: 30px;
                background: url(../assets/compus/bot.png) no-repeat;
                background-size: 100%;
            }
        }
    }
}
