.ad-group-list {
    background-color: white;
    margin-top: 8px;

    h3 {
        font-size: 1.4rem;
        font-weight: bold;
        padding-left: 2.2rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: white
    }
    h3:before {
        content: '';
        position: absolute;
        height: 1.4rem;
        width: 4px;
        background-color: #e27d32;
        left: 1.2rem;
        margin-top: -2px;
    }

    hr {
        background-color: #c8c7cc;
        height: 1px;
        margin: 0 1.1rem;
    }
}

