compus-card-charge2 {
    .wrap {
        margin-top: 40px;
        div {
            margin: auto;
            width: 230px;
            text-align: center;
        }
        .img {
            width: 100px;
            img {
                width: 100%;
            }
        }
        .word1 {
            color: #000;
            font-size: 24px;
            padding: 15px 0;
        }
        .word2 {
            color: #8c8c8c;
        }
    }
}
