<ion-content>
    <div class="wrap">
        <ul class="ulWrap" (click)="go()">
            <li class="imgWrap"><img src="assets/compus/compus.png" alt=""></li>
            <li class="wordWrap color1">
                <div class="lineWrap">
                    <div class="lineLeft"></div>
                    <div class="dotLeft"></div>
                </div>
                <div class="word">校园</div>
                <div class="lineWrap">
                    <div class="lineRight"></div>
                    <div class="dotRight"></div>
                </div>
            </li>
        </ul>
        <ul class="ulWrap" (click)="goToPage()">
            <li class="imgWrap"><img src="assets/compus/gas.png" alt=""></li>
            <li class="wordWrap color2">
                <div class="lineWrap">
                    <div class="lineLeft"></div>
                    <div class="dotLeft"></div>
                </div>
                <div class="word">燃气</div>
                <div class="lineWrap">
                    <div class="lineRight"></div>
                    <div class="dotRight"></div>
                </div>
            </li>
        </ul>
        <ul class="ulWrap" (click)="goToEtc()">
            <li class="imgWrap"><img src="assets/compus/live.png" alt=""></li>
            <li class="wordWrap color3">
                <div class="lineWrap">
                    <div class="lineLeft"></div>
                    <div class="dotLeft"></div>
                </div>
                <div class="word">ETC</div>
                <div class="lineWrap">
                    <div class="lineRight"></div>
                    <div class="dotRight"></div>
                </div>
            </li>
        </ul>
    </div>
    <!--<button ion-button small (click)="addCard()">添加行业卡</button>-->
    <!--<button ion-button small (click)="charge()">充值</button>-->
</ion-content>
