<ion-header no-border>
    <ion-navbar>
        <ion-title>广发银行Ⅱ类账户提现</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <CGB-2account-cash [info]="navParams.get('account')"></CGB-2account-cash>
    <!--<label for="name">Name</label>-->

    <!--<input type="text" id="name" class="form-control"-->
    <!--required minlength="4" maxlength="24"-->
    <!--name="name" [(ngModel)]="hero.name"-->
    <!--#name="ngModel">-->

    <!--<div *ngIf="name.errors && (name.dirty || name.touched)"-->
    <!--class="alert alert-danger">-->
    <!--<div [hidden]="!name.errors.required">-->
    <!--Name is required-->
    <!--</div>-->
    <!--<div [hidden]="!name.errors.minlength">-->
    <!--Name must be at least 4 characters long.-->
    <!--</div>-->
    <!--<div [hidden]="!name.errors.maxlength">-->
    <!--Name cannot be more than 24 characters long.-->
    <!--</div>-->
    <!--</div>-->
</ion-content>

