CGB-2account-cash-success {
    .wrap {
        margin-top: 40px;
        div {
            margin: auto;
            width: 230px;
            text-align: center;
        }
        .img {
            width: 100px;
            img {
                width: 100%;
            }
        }
        .word1 {
            color: #000;
            font-size: 24px;
            padding: 15px 0;
        }
        .word2 {
            color: #8c8c8c;
        }
    }
}

CGB-2account-cash-success .done-icon.ion-ios-checkmark:before {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
    font-size: 4em;
    line-height: 60px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background: #32CD32;
}
